/* Configurações globais */
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
}

/* Área do topo */

#container{
	width: 1600px;
	margin: 0 auto;
}

#topo{
	height: 90px;
	padding-top: 0;
}

.logo{
	width: 137px;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}

.margin-left-header{
	margin-left: 30px;
}

#navegacao-esqueda ul{
	margin-left: 40px;
	float: left;
}

#navegacao-esqueda ul li{
	float: left;
}

#navegacao-esqueda ul li a{
	font-size: 13.5px;
	display: block;
	padding-top: 15px;
	margin-top: 20px;
	color: black;
}

#navegacao-direita ul{
	float: right; 
}

#navegacao-direita ul li{
	float: right; 
}

#navegacao-direita ul li a{
	font-size: 13.5px;
	float: right; 
	display: block;
	padding-top: 15px;
	margin-left: 10px;
	margin-top: 20px;
	color: black;
}
#navegacao-esqueda ul li a:hover,
#navegacao-direita ul li a:hover{
	border-bottom: 2px solid black;
}

/* Conteudo */

#conteudo{
	margin: 0 auto;
	width: 1600px;
	
}

#conteudo .img1{
	width: 100%;
}

#noticias{
	margin-top: 35px;
	height: 100px;
	margin-left: 0px;
}

.not:hover{
	background: lightgray;
}

#noticias .not .lateral{
	margin-left: 0px;
}

#noticias .not{
	float: left;
	
}
#noticias .not img{
	width: 355px;
	height: 236px;
}

#noticias .not p{
	text-align: left;
	margin-bottom: 35px;
}

.margin-left{
	margin-left: 60px;
}

/* Footer */

#footer{
	clear: both;
	height: 180px;
}

.margin-left-footer{
	margin-left: 20px !important;
}

#footer .conteudos-footer{
	float: left;
	margin-left: 80px;
}

#footer .conteudos-footer{
	margin-bottom: 70px;
}

#footer .conteudos-footer ul li{
	padding-top: 15px;
}

#footer .conteudos-footer ul li a{
	font-size: 0.8em;
	color: gray;
}

#footer .conteudos-footer ul li h4{
	color: DimGray;
}